{% extends '../base.twig' %}

{% block content %}
    <div>
        <h1>Vitajte!</h1>
        <p>Na tejto stránke si môžete pozrieť všetky príspevky, ktoré boli pridané na stránku.</p>
        <p>Pre pridanie príspevku sa musíte prihlásiť.</p>
    </div>
{% endblock %}